<h1>Admin panel</h1>

<p>
  Hey there, fellow gamer!
</p>
<p>
  Many years ago, I fell in love with Diablo 2 and its mods. I also love to program, and from the union of these two passions, this project was born: a Holy Grail tracker for PD2.
</p>
<p>
  If you like this tool or find it useful, you can contribute your ideas or report any bugs in <a href="https://github.com/sblancov/holygrail/issues" target="_blank">my project <mat-icon class="medium">open_in_new</mat-icon></a>.
</p>
<p>
  This is the administration panel for the tool. It only has three buttons:
</p>

<ul>
  <li><strong>Download:</strong> This creates a backup copy on your device.</li>
  <li><strong>Reset:</strong> This deletes all information. Be careful!</li>
  <li><strong>Upload:</strong> This recovers a backup copy from your device.</li>
</ul>

<p>
  This way, you can keep track of multiple Holy Grails for each season and character, for example.
</p>

<section>

  <a class="upload" matButton href="{{ downloadLocalStorage() }}" download="PD2HolyGrailBackup.json">
    <mat-icon>download</mat-icon>
    <div>
      Download
    </div>
  </a>

  <button class="link-pointer" matButton (click)="removeLocalStorage()">
    <mat-icon>delete</mat-icon>
    <div>
      Reset
    </div>
  </button>

  <div class="file-input-container">
    <button class="link-pointer" matButton>
      <mat-icon>
        upload
      </mat-icon>
      <span>
        Upload
      </span>
    </button>
    <input type="file" class="hidden-file-input" (change)="uploadLocalStorage($event)">
  </div>
</section>
