
section {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  button {
    display: flex;
    align-items: center;
  }


  a {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px 5px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    background-color: #efefef;
  }
