<p>
  {{ getTotalPercent() }}% {{getTotalFoundItems()}}/{{ getTotalItems() }} Total Found Items
</p>
<p>
  {{ getTotalRunesPercent() }}% {{getTotalFoundRunes()}}/{{ getTotalRunes() }} Runes
</p>
<p>
  {{ getTotalRunewordsPercent() }}% {{getTotalFoundRunewords()}}/{{ getTotalRunewords() }} Runewords
</p>
<p>
  {{ getTotalSetsPercent() }}% {{getTotalFoundSets()}}/{{ getTotalSetItems() }} Sets
</p>
<p>
  {{ getTotalUniquesPercent() }}% {{getTotalFoundUniques()}}/{{ getTotalUniques() }} Uniques
</p>

<p>

</p>
